canvas {
  position: absolute;
  background-color: white;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
}

.view article {
  position: absolute;
  text-align: center;
  background-color: rgba(48, 48, 48, 0.8);
  border-radius: 15px;
}

.nav{
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.character {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.characterForm {
  color: white;
  font-family: 'Uncial Antiqua', cursive;
  padding: 40px;
}

.character h1 {
  padding-top: 30px;
  font-size: 2em;
  font-family: 'Uncial Antiqua', cursive;
  color: orangered;
}

.score {
  top: 30px;
  right: 30px;
  color: white;
  padding: 15px;
}

.scoreView{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 15px;
}

.replay {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
p{
  color:white;
}
.credits {
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  padding: 15px;
}